@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

body{
    font-family: "Mulish", sans-serif;
}
*{
    margin: 0;
    padding: 0;
    
}
/* header styles */

.header{
    max-width: 1250px;
    margin: 30px auto;
    /* border: 3px solid blue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* nav bar styling */
.nav-container{
    /* border: 2px solid red; */
    min-height: 20px;
    display: flex;
    align-items: center;
    width: 50%;
}
.nav-container img{
    width: 70px;
    object-fit: cover;
}
.nav-container p{
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
    padding: 10px;
}
.nav-container span{
    color: #FF5400;
}
.items-container{
    width: 50%;
    /* border: 3px solid yellow; */
    /* display: flex;     */
    /* align-items: center;
    justify-content: space-between; */
}
.items-container ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.items-container a{
    text-decoration: none;
    color: var(--Dark-02, #424247);
    font-size: 1.13rem;
    font-weight: 400;
}

.items-container a:hover{
    color: #FF5400;
    font-weight: 700;
    cursor: pointer;
}

#toggler, label{
    display: none;
}

/* styling banner */
.banner{
    max-width: 1250px;
    height: 500px ;
    border: 2px solid blue;
    margin: 50px auto;
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    
}
.banner-content{
    border: 2px solid yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.travel-form{
    border: 2px solid red;
    display: block;
    
}
.travel-form input{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    font-weight: 400;
    padding-left: 5px;
    margin-right: 20px;
    
}
.travel-form select{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    font-weight: 400;
    padding-left: 5px;
    margin-right: 20px;
}
.primary-button{
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
}